@using AM.WebSite.Areas.Client.Models
@using Kendo.Mvc.UI

	@section Scripts {
		@Html.Script("~/Areas/Client/JS/Client.js")
	}

	<div id="wrapper">
		<div class="ibox float-e-margins" id="searchPanel">
			@*@Html.PSSearchHeader("Clientes")*@
			<div class="ibox-content">
				@Html.PSCrudButtons()
				<hr>
				@*<div class="table-responsive">
						<table id="dtgClient" class="table table-striped table-bordered table-hover"></table>
					</div>*@
				<div class="row">
					<div class="col-xs-18 col-md-12">
						@Html.Kendo().Culture("es-AR");
						@(Html.MyGrid<Client>("grid", "Client")
							  .Columns(columns =>
							  {
								  columns.Bound(p => p.Id);
								  columns.Bound(p => p.ComercialName);
								  columns.Bound(p => p.FirstName);
								  columns.Bound(p => p.LastName);
								  columns.Bound(p => p.Email);
								  columns.Bound(p => p.Telephone1);
								  columns.Bound(p => p.Telephone2);
								  columns.Bound(p => p.Observations);
								  columns.Bound(p => p.Address1);
								  columns.Bound(p => p.City);
								  columns.Bound(p => p.Province);
								  columns.Bound(p => p.DNI);
								  columns.Bound(p => p.CUIT);
								  columns.Bound(p => p.ClientType.Description)
								  .ClientTemplate("# if (ClientType != null) { #" +
								  					"<div>#= ClientType.Description #</div>" +
								  					"#} else {#" +
								  					"<div></div>" +
								  					"# } #");
								  //columns.ForeignKey(p => p.ClientTypeId, Model.ClientTypesSelectList, "Value", "Text");
								  //columns.Command(command => { command.Edit(); command.Destroy(); }).Width(172).Title("Actions");
							  })
							  //.ToolBar(toolbar => toolbar.Create().Text(@Resources.Resources.NewClient))
							  //.Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("ClientEditor").Window(window => window.Width(600).Resizable().Scrollable(true).Title(Resources.Resources.NewClient)))

							  )
					</div>
				</div>

			</div>
		</div>
	</div>




