@using DAL
@using Entities.POCOEntities
@model Entities.POCOEntities.SalePOCO
<style>
    .clientEdit {
        width: 70%;
    }
</style>


@using (Html.BeginForm())
{
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(m => m.ClientId)
        </div>
        <div class="editor-field">
            @(Html.Kendo().DropDownListFor(m => m.ClientId).BindTo((List<ClientPOCO>)ViewData["Clients"]).DataTextField("ComercialName").DataValueField("Id"))
            @Html.ValidationMessageFor(model => model.ClientId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.SaleCategoryId)
        </div>
        <div class="editor-field">
            @(Html.Kendo().DropDownListFor(m => m.SaleCategoryId).BindTo((List<SaleCategoryPOCO>)ViewData["SaleCategories"]).DataTextField("Description").DataValueField("Id"))
            @Html.ValidationMessageFor(model => model.SaleCategoryId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.EmisionDate)
        </div>
        <div class="editor-field">
            @(Html.EditorFor(m => m.EmisionDate, new { @class = "k-textbox clientEdit" }))
            @Html.ValidationMessageFor(model => model.EmisionDate)
        </div>
    </fieldset>
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(m => m.DueDate)
        </div>
        <div class="editor-field">
            @(Html.EditorFor(m => m.DueDate, new { @class = "k-textbox clientEdit" }))
            @Html.ValidationMessageFor(model => model.DueDate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.BillTypeId)
        </div>
        <div class="editor-field">
            @(Html.Kendo().DropDownListFor(m => m.BillTypeId).BindTo((List<BillTypePOCO>) ViewData["BillTypes"]).DataTextField("Description").DataValueField("Id"))
            @Html.ValidationMessageFor(model => model.BillTypeId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.BillNumber)
        </div>
        <div class="editor-field">
            @(Html.TextBoxFor(m => m.BillNumber, new { @class = "k-textbox clientEdit" }))
            @Html.ValidationMessageFor(model => model.BillNumber)
        </div>
 
        <div class="editor-label">
            @Html.LabelFor(m => m.Observations)
        </div>
        <div class="editor-field">
            @(Html.TextAreaFor(m => m.Observations, new { @class = "k-textbox clientEdit" }))
            @Html.ValidationMessageFor(model => model.Observations)
        </div>

    </fieldset>




}



